*.sublime-workspace
*.idx
*.dvi
*.cb2
*.ps
*.log
*.toc
*.snm
*.nav
*.aux
*.auxlock
*.out
*.pdf
*.blg
*.bbl
*.cb
*.lof
*.lot
*.lol
*.fls
*.fdb*
*.synctex
*.*~
*.diff.tex
fig/nvvp.eps
!inc/*

# Additional LaTeX gitignores
*.bib.bak
*.bib.sav
*.ilg
*.ind
*.synctex.gz
